
.user{
    display: flex;
}
.user-container{
    display: flex;
    border:1px solid lightgray;
    margin:20px;
    padding:20px;
    width: 70%;
}
.user-container img{
  width: 150px;
  height: 150px;
}
.user-content{
    margin-left: 20px;
    padding:20px;
}
.user-content button{
    width:70px;
    background-color:blue;
    color:white;
    border: none;
    padding: 10px;
}